<!DOCTYPE html>
<html lang="en-GB">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{url_for('static',filename='output.css')}}">
    <link rel="icon" href="{{ url_for('static', filename='favicon_io/favicon.ico') }}" type="image/x-icon">
</head>

<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script>
    $(document).ready(function () {
        $('form').submit(function (e) {
            e.preventDefault(); // Prevent default form submission
            var form_data = $(this).serialize(); // Serialize form data
            $.ajax({
                type: 'POST',
                url: '/create_account',
                data: form_data,
                success: function (response) {
                    $('#msg').text(response.msg); // Display response message
                },
                error: function (xhr, status, error) {
                    console.error(xhr.responseText); // Log error message to console
                }
            });
        });
    });
</script>



<body class="min-h-screen bg-gray-100">

    <header id="header">
        <div class="bg-gray-500 flex justify-center items-center">
            <div class="flex justify-start pb-6 pt-6 pl-64">
                <img src="https://i.postimg.cc/02fR1nhY/Group-K-1.png" class="w-1/6 h-1/6">
                <div class="container mx-auto items-center pt-8">
                    <a href="/home">
                        <h1 class="text-2xl font-bold pl-4 mb-4 flex justify-start" href="/home">UWE
                            ITS Help
                            Services
                        </h1>
                    </a>

                    <nav>
                        <a class="hover:text-red-700 px-4" href="/issue_form">Issue Form</a>
                        <a class="hover:text-red-700 px-4" href="/create_account_form">Create Account</a>
                        <a class="hover:text-red-700 px-4" href="/login_function">Log
                            In</a>
                    </nav>
                </div>
            </div>
        </div>
    </header>


    <div class="container mx-auto px-4 py-8">
        <div class="flex items-center justify-center py-2">
            <h3>Create an account!</h3>
        </div>
        <div class="flex items-center justify-center py-6">
            <form method="post" class="bg-white shadow-md rounded px-8 pt-6 pb-8 mb-4" action="/create_account">
                <div class="py-2">
                    <label for="username">Please enter a username:</label>
                </div>
                <div class="py-2">
                    <input type="text" id="username" placeholder="Please enter a username:" name="username" required>
                </div>
                <div class="py-2">
                    <label for="password">Please enter a password:</label>
                </div>
                <div class="py-2">
                    <input type="password" id="password" placeholder="Please enter a password:" name="password"
                        required>
                </div>
                <div class="py-2">
                    <button class="flex justify-center">Submit</button>
                </div>
            </form>
        </div>
        <div class="pb-9">
            <h3 id="msg" class="flex items-center justify-center"></h3>
        </div>
    </div>
</body>

<footer class="bg-gray-500">
    <div class="flex justify-center items-center py-4">
        <a class="px-2" href="mailto:uweitstestemail@gmail.com">
            <h1>Contact us!</h1>
        </a>
        <a class="px-2" href="#header">
            <h1>Back to top</h1>
        </a>
    </div>
</footer>

</html>