<!DOCTYPE html>
<html lang="en-GB">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{url_for('static',filename='output.css')}}">
    <link rel="icon" href="{{ url_for('static', filename='favicon_io/favicon.ico') }}" type="image/x-icon">
</head>

<header id="header">
    <div class="bg-gray-500 flex justify-center items-center">
        <div class="flex justify-start pb-6 pt-6 pl-64">
            <img src="https://i.postimg.cc/02fR1nhY/Group-K-1.png" class="w-1/6 h-1/6">
            <div class="container mx-auto items-center pt-8">
                <a href="/home">
                    <h1 class="text-2xl font-bold pl-4 mb-4 flex justify-start" href="/home">UWE
                        ITS Help
                        Services
                    </h1>
                </a>

                <nav>
                    <a class="hover:text-red-700 px-4" href="/issue_form">Issue Form</a>
                    <a class="hover:text-red-700 px-4" href="/dashboard">Dashboard</a>
                    <a class="hover:text-red-700 px-4" href="/profile">Profile</a>
                    <a class="hover:text-red-700 px-4" href="/logout">Log Out</a>
                </nav>
            </div>
        </div>
    </div>
</header>


<body class="min-h-screen bg-gray-100">
    <div class="py-4">
        <h1 class="flex justify-center items-center underline">Welcome {{ username }}</h1>
    </div>
    <div class="pb-4">
        <h1 class="flex justify-center"> Your requests:</h1>
    </div>

    <body>
        <div class="flex justify-center items-center pb-6">
            <h2 class="flex justify-center items-center">{{ msg }}</h2>
            <table class="table-auto border-collapse bg-white">
                <tr>
                    <th class="px-4 py-2 bg-gray-200">{{ erd }}</th>
                    <th class="px-4 py-2 bg-gray-200">{{ erdt }}</th>
                    <th class="px-4 py-2 bg-gray-200">{{ ers }}</th>
                </tr>
                {% for item in emailArray %}
                <tr>
                    <td class="border px-4 py-2">{{ item.emailRequestDescription }}</td>
                    <td class="border px-4 py-2">{{ item.emailRequestDT }}</td>
                    <td class="border px-4 py-2">{{ item.emailRequestStatus }}</td>
                </tr>
                {% endfor %}
            </table>
        </div>


    </body>

    <footer class="bg-gray-500">
        <div class="flex justify-center items-center py-4">
            <a class="px-2" href="mailto:uweitstestemail@gmail.com">
                <h1>Contact us!</h1>
            </a>
            <a class="px-2" href="#header">
                <h1>Back to top</h1>
            </a>
        </div>
    </footer>

</html>