<!DOCTYPE html>
<html lang="en-GB">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>

<body>
    <form method="post" action="">
        <div>
            <label for="firstname">First Name:</label>
            <input type="text" id="firstname" placeholder="Please enter your first name" name="firstname" required>
        </div>
        <div>
            <label for="lastname">Last Name:</label>
            <input type="text" id="lastname" placeholder="Please enter your last name" name="lastname" required>
        </div>
        <div>
            <label for="UWEemail">UWE Email:</label>
            <input type="email" id="UWEemail" placeholder="Please enter your UWE Email" name="UWEemail" required>
        </div>
        <div>
            <label for="issue">Issue:</label>
            <select name="issue" id-="issue">
                <option value="issue1">Issue 1</option>
                <option value="issue2">Issue 2</option>
                <option value="issue...">Issue...</option>
            </select>
        </div>
        <div>
            <label for="furtherinfo">Please explain your issue in detail:</label>
            <input type="text" id="furtherinfo" placeholder="Please explain your issue in detail" name="furtherinfo"
                maxlength="1000" required>
        </div>
        <button>Submit</button>
    </form>
</body>




</html>